workflow.json
{
  "name": "shopify AI description",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "be79f19c-0209-427f-9999-7d259c8bb3f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dev-test-store-8bcg2qwt.myshopify.com/admin/api/2024-01/products.json?limit=3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3b20b27f-5067-4c55-97fc-f5eced76ac91",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ciJqaPrLpayrFaNJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "24100c05-e218-493d-bc2a-ca355b7ead72",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"为这个产品写一段80字以内的中文SEO描述,只返回描述文本,不要任何解释。产品名:{{ $json.title }},类型:{{ $json.product_type }},品牌:{{ $json.vendor }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "5292339e-ab51-420c-a1a2-49d7d1156077",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iKTvg3dYJg3KOU5K",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "=shopify",
        "filters": {
          "conditions": [
            {
              "keyName": "shopify_id",
              "condition": "=eq",
              "keyValue": "={{ $('Split Out').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Split Out').item.json.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        48
      ],
      "id": "3053a75d-6e5c-4bdf-a379-a9128b500bfe",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "10Xa46EocdqDks00",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8e4d10b-5338-4457-b412-b50303d9d233",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57000921ddf2271c935153eb3f2c5745a530b23c186dcc3b669466a1707beb63"
  },
  "nodeGroups": [],
  "id": "dmTHk1LStmYOrS3h",
  "tags": []
}